<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stableford Scoring API Error Page</title>
</head>
<body>
<h1>😳😩</h1>
<h1>This clearly isn't the page you were hoping for - sorry about that.</h1>
<h1>😔</h1>
<hr>
<h3>Here's a couple of other options that may help:</h3>
<ul>
    <li><a href="https://www.facebook.com.au/oz2810">Visit e on facebook</a></li>
    <li><a href="https://www.golf.org.au">Visit the Golf Australia (where you can find more details)</a></li>
</ul>
<hr>
</body>
</html>
